div {
  border: 1px solid black;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: white;
}

img {
  height: 100%;
  width: 100%;
  position: relative;
}

p {
  position: absolute;
  top: 500px;
  left: 500px;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}
