div {
  border: 1px solid black;
  display: flex;
  height: 80vh;
  flex-direction: column;
  background-color: white;
}

img {
  height: 100%;
  width: 100%;
  position: relative;
}

p {
  position: absolute;
  top: 500px;
  left: 500px;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
}

#memes {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
}

#memes img {
  max-width: 19%;
  min-height: 100%;
}

#options {
  width: 30%;
  max-height: 100%;
  gap: 10px;
  background-color: black;
  color: white;
}

button {
  color: aliceblue;
  border-radius: 10px;
  width: 50%;
  height: 16%;
  align-self: center;
}

input {
  width: 98%;
}
